@media screen and (min-width: 801px) {
  #cd-lateral-nav {
    background-color: #434142;
    height: 30px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    width: 950px;
  }
  .cd-main-content {
    margin-top: 0;
    z-index: 0;
  }
}
@media screen and (max-width: 800px) {
  body footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
  body footer .finFooter .row {
    text-align: center;
    width: 100%;
  }
  body footer .finFooter .row figure {
    width: 100%;
  }
  body footer .finFooter .row figure img {
    width: 150px;
  }
  body footer .finFooter .row figure,
  body footer .finFooter .row .boletin {
    display: block;
  }
  body footer .finFooter .row .boletin {
    width: 100%;
  }
  body footer .finFooter .row .boletin .contBoletin {
    margin: 0 auto;
    width: 80%;
  }
  body footer .finFooter .row .boletin .contBoletin h4 {
    display: none;
  }
  body footer .finFooter .row .boletin .contBoletin .block_content {
    width: 100%;
  }
  body footer .finFooter .row .boletin .contBoletin .block_content form .form-group input {
    width: 60%;
  }
  body footer .row {
    width: 100%;
  }
  body footer .row .blockcategories_footer,
  body footer .row .footer-block,
  body footer .row .footerSocial,
  body footer .row .informacionFooter {
    border-bottom: 1px solid #aeadb3;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: block;
    height: initial;
    padding: 0 0 1em 0;
    position: relative;
    width: 100%;
  }
  body footer .row .footerSocial .contFooterSocial .mediosPago img {
    width: 150px;
  }
  body footer .row .footerSocial .contFooterSocial .mediosPago .tituloPagos {
    border: none;
    margin: 0;
  }
  body footer .row .footerSocial .contFooterSocial .mediosPago,
  body footer .row .footerSocial .contFooterSocial ul {
    display: inline-block !important;
    vertical-align: top;
    width: 49%;
  }
  body header .header {
    border-bottom: 4px solid #f8b302;
    height: 120px;
  }
  body header .header .headerCOnt {
    width: 100%;
  }
  body header .header .headerCOnt figure {
    display: block;
    position: initial;
    width: 100%;
  }
  body header .header .headerCOnt figure a img {
    width: 130px;
  }
  body header .header .headerCOnt .buscador {
    margin-left: -40%;
    top: 50px;
    width: 80%;
  }
  body header .header .headerCOnt .buscador .buscadorForm {
    border: 2px solid #434142;
  }
  body header .header .headerCOnt .buscador .buscadorForm form button {
    background-color: #434142;
  }
  body .accedeCuentaChica {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 200%;
    z-index: 10;
  }
  body .alert-warning {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  body .autenticacion .formularioCrea .creaCuenta .nombreApellido .nombre,
  body .autenticacion .formularioCrea .creaCuenta .nombreApellido .apellido {
    width: 48%;
  }
  body .box .rodeaAddress form .addressNombreApellido .apellidoDireccion,
  body .box .rodeaAddress form .addressNombreApellido .nombreDireccion {
    width: 48%;
  }
  body .box .rodeaAddress form .esAliasDireccion,
  body .box .rodeaAddress form .esCelular,
  body .box .rodeaAddress form .esRegion,
  body .box .rodeaAddress form .esTelefono,
  body .box .rodeaAddress form .infoAdicional {
    width: 100%;
  }
  body .carrito {
    background-color: #f8b302;
    -webkit-border-radius: 0;
    border-radius: 0;
    top: 120px;
    right: 0;
    width: 50%;
  }
  body .carrito .carritoIcon:before {
    width: 100%;
  }
  body .carrito .carritoHover .carritoDeCompra .cart_block .block_content .cart_block_list .products .first_item .remove_link a:after,
  body .carrito .carritoHover .carritoDeCompra .cart_block .block_content .cart_block_list .products .last_item .remove_link a:after,
  body .carrito .carritoHover .carritoDeCompra .cart_block .block_content .cart_block_list .products .item .remove_link a:after {
    font-size: 18px;
  }
  body .carrito > .ajax_cart_no_product,
  body .carrito > .ajax_cart_quantity {
    width: 50%;
  }
  body .carritoAlert {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    left: 0;
    margin-left: 10%;
    margin-top: 25px !important;
    padding: 20px 10%;
    width: 80%;
  }
  body .container {
    width: 100%;
  }
  body .container .contCarrusel {
    width: 100%;
  }
  body .container .contCarrusel .carrusel {
    width: 100%;
  }
  body .contCarrusel .contCarruselInt .comentariosHome {
    display: none;
  }
  body .formCarrito .orderAddress .addresses .contenedorAddresses .selccionDireccion .selector1 .selector {
    margin-bottom: 10px;
  }
  body .formCarrito .orderAddress .addresses .contenedorAddresses,
  body .formCarrito .orderAddress .addresses .quieresAgregaComentario {
    width: 100%;
  }
  body .micuenta .rodeaListaDirecciones .listaDirecciones {
    width: 100%;
  }
  body .micuenta .rodeaListaDirecciones .listaDirecciones ul li a span {
    font-size: 15px;
  }
  body .micuenta .rodeaListaDirecciones .listaregalo ul li a span {
    font-size: 15px;
  }
  body .loginUsuario {
    -webkit-border-radius: 0;
    border-radius: 0;
    left: 0;
    top: 120px;
    width: 50%;
  }
  body .loginUsuario .contenedorLogin .despliega {
    width: 100%;
  }
  body .navegador {
    width: 90%;
  }
  body .popularesMasVendidos {
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion {
    height: initial;
    position: relative;
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom {
    margin: 0;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom div .agregaCarrito {
    margin: 0;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom div .agregaCarrito .exclusive {
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom .buttons_bottom_block a {
    margin: 0;
    width: 80%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom .buttons_bottom_block a:before {
    display: none;
    width: 30px;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom .buttons_bottom_block a span {
    text-align: center;
    width: 95%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom,
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .content_prices {
    display: inline-block;
    margin: -2px;
    position: relative;
    top: 0;
    vertical-align: top;
    width: 49%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .content_prices .price .ivaInclude {
    right: 5%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .content_prices .price .precioActual {
    margin: 0;
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion .pay {
    display: none;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .contenedorImagenes {
    text-align: center;
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .contenedorImagenes .imagenGrande {
    margin: 0 auto;
    width: 300px;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .descripcion {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .descripcion .linksDescripcion,
  body .productoPag .productoFoto .contenedorProductoFoto .descripcion .socialsharing_product {
    display: none;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .imagenGrande {
    border: 0;
    margin: 0;
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .imagenGrande .contenedorImagen {
    margin: 0 auto;
    width: 300px;
  }
  body .productoPag .productoFoto .muestraChica {
    width: 100%;
  }
  body .productoPag .productoFoto .muestraChica .rodeaMuestraChica ul {
    text-align: center;
  }
  .adjuntos {
    margin: 0;
    width: 100%;
  }
  .añadeCarrituHome {
    height: 35px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 35px;
  }
  .añadeCarrituHome a span:before {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    width: 35px;
  }
  .contenedorPartners {
    width: 100%;
  }
  .contenedorProductoFoto {
    position: relative;
  }
  .infoAdicionalHeader .row {
    width: 100%;
  }
  .listaProducto .listaProductoLi {
    width: 23.5%;
  }
  .listaProducto .listaProductoLi .contenedorPopular .right-block .wishlist {
    height: 35px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 35px;
  }
  .listaProducto .listaProductoLi .contenedorPopular .right-block .wishlist a {
    height: 35px;
    width: 35px;
  }
  .listaProducto .listaProductoLi .contenedorPopular .right-block .wishlist a:before {
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    width: 35px;
  }
  .menuManias .menuTop {
    border: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .menuManias .menuTop > li {
    border: 0;
    width: 100%;
  }
  .menuManias .menuTop > li:last-child a {
    background-color: #009960;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }
  .menuManias .menuTop > li:last-child:hover a {
    background-color: #009960 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .menuManias .menuTop > li > a {
    background: transparent;
    color: #879193;
  }
  .menuManias .menuTop > li > a:before {
    background: none;
  }
  .sub-menuDesktop {
    border: none !important;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .sub-menuDesktop li {
    background: #656465;
  }
  .sub-menuDesktop li a {
    color: #fff;
    font-family: 'oswaldbold';
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
  }
  .sub-menuDesktop li ul {
    display: none;
    margin: 0;
    padding: 0;
  }
  .sub-menuDesktop li ul li {
    background: #a29ea2;
    margin: 0;
    padding: 0;
  }
  .sub-menuDesktop li ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }
  .tabsInfo {
    width: 100%;
  }
  .tabsInfo .tabs .navTabs ul li {
    border-bottom: none;
    border-top: 1px solid #aeadb3;
    width: 100%;
  }
  .tabsInfo .tabs .navTabs ul li a h3 {
    font-size: 16px;
  }
  .tabsInfo .tabs .navTabs ul .tab-current {
    border-left: 0;
    border-right: 0;
  }
  .tabsInfo .tabs .navTabs ul .tab-current a h3 {
    font-size: 20px;
  }
  .tabsInfo .tabs .content-wrap .content-current {
    margin: 0;
    border-left: 0;
    border-right: 0;
  }
  .Otroquick-view,
  .quick-view {
    display: none;
  }
  #cd-menu-trigger {
    height: 40px;
    top: 40px;
  }
  #sslsSiteSeal {
    width: 100%;
  }
}
@media screen and (max-width: 670px) {
  .table {
    width: 670px;
  }
}
@media screen and (max-width: 650px) {
  body header .header .headerCOnt .buscador .buscadorForm form input {
    height: 25px;
  }
  body .formCarrito .detalleProducto {
    overflow-y: scroll;
    width: 100%;
  }
  body .contCarrusel .contCarruselInt {
    height: 0;
  }
  .contenedorHistoria {
    overflow-y: scroll;
    width: 100%;
  }
  .delivery_option_price {
    line-height: normal !important;
  }
  .order_carrier_content .checkbox a {
    margin: 5px auto;
    width: 100%;
  }
  .order_carrier_content .checkbox label {
    width: 100%;
  }
  .paiement_block .table_block {
    overflow-y: scroll;
    width: 100%;
  }
  .products_block {
    overflow-y: scroll;
    width: 100%;
  }
  .products_block table {
    width: 650px;
  }
  .products_block table tbody tr td .remove {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .table_block {
    overflow-y: scroll;
    width: 100%;
  }
  .textoLink .row,
  .textoLink .payment_module {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom .buttons_bottom_block a span {
    text-align: right;
  }
  .bx-controls {
    width: 90%;
  }
  .candadito {
    display: none;
  }
  .contenedorPartners {
    display: none;
  }
  .infoAdicionalHeader .row {
    text-align: center;
  }
  .listaProducto .listaProductoLi {
    width: 48.5%;
  }
  .listaProducto .listaProductoLi .contenedorPopular .functional-buttons .compare a {
    width: 170px;
  }
  .navegador {
    width: 90%;
  }
  .navegador .checkout,
  .navegador .volverCompra {
    width: 100px;
  }
  .navegador .checkout span,
  .navegador .volverCompra span {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  body .autenticacion {
    width: 100%;
  }
  body .autenticacion .contenedorLogin .accedeCuenta,
  body .autenticacion .contenedorLogin .creaCuenta {
    height: 280px;
    width: 60%;
  }
  body .formCarrito .listaCompra li a,
  body .formCarrito .listaCompra li span {
    font-size: 13px;
  }
  body .formCarrito .listaCompra .step_current:after {
    border: 0;
  }
  body .formCarrito .listaCompra .step_current:before {
    border: 0;
  }
  body .fechaNacimiento .contenedorFecha {
    width: 100%;
  }
  body .micuenta .rodeaListaDirecciones .listaDirecciones,
  body .micuenta .rodeaListaDirecciones .listaregalo {
    width: 100%;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-cart-bottom div .agregaCarrito button span {
    font-size: 13px;
  }
  body .productoPag .productoFoto .contenedorProductoFoto .carroDecripcion form .box-info-product .box-cart-bottom .buttons_bottom_block a {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .contenedorMenu {
    background: #434142;
    border-bottom: 1px solid #999;
    border-top: 4px solid #f8b302;
  }
  .loginMenu {
    display: none !important;
  }
  .sub-menuDesktop {
    border-bottom: 6px solid #f8b302;
    left: 0 !important;
    min-height: 260px !important;
    padding: 20px 15% 10px 6% !important;
    position: absolute !important;
    width: 64% !important;
  }
  .sub-menuDesktop > li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
  }
  .sub-menuDesktop > li ul {
    margin: 0;
    padding: 0;
  }
  .sub-menuDesktop > li ul li {
    list-style: none;
  }
  .sub-menuDesktop > li ul li a {
    color: #5b5b5f;
    font-size: 12px;
    font-style: italic;
    line-height: 16px !important;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
  }
  .sub-menuDesktop > li > a {
    color: #5b5b5f;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 7px;
    position: relative;
  }
  #cd-top-nav {
    display: block;
  }
  .cd-navigation {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .cd-navigation > li {
    display: inline-block;
    height: 30px;
    vertical-align: top;
  }
  .item-has-children > a:after {
    right: 0.4em !important;
  }
  #cd-menu-trigger {
    display: none;
    padding-left: 1.25em;
    width: 110px;
  }
  #cd-menu-trigger .cd-menu-text {
    display: inline-block;
    line-height: 70px;
  }
  #cd-menu-trigger .cd-menu-icon {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    left: auto;
    right: 1.25em;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (max-width: 500px) {
  body footer .row .footerSocial .contFooterSocial .mediosPago img {
    width: 100px;
  }
  .listaDireccion .contenedorListaDireccion {
    width: 100%;
  }
}
