@import "nib"
@import 'nib/gradients'

@media screen and (min-width:801px)
	#cd-lateral-nav
		background-color: #434142;
		height 30px
		margin 0 auto
		overflow visible
		position relative
		transform translateX(0)
		visibility visible
		width 950px
		z-index 12
	.cd-main-content
		margin-top 0
		z-index 0
		
@media screen and (max-width: 800px)
	body
		footer
			box-sizing border-box
			padding 20px
			.finFooter
				.row
					text-align center
					width 100%
					figure
						width 100%
						img
							width 150px
					figure
					.boletin
						display block
					.boletin
						width 100%
						.contBoletin
							margin 0 auto
							width 80%
							h4
								display none
							.block_content
								width 100%
								form
									.form-group
										input
											width 60%
			.row
				width 100%
				.blockcategories_footer
				.footer-block
				.footerSocial
				.informacionFooter
					border-bottom 1px solid #aeadb3
					border-left 0
					border-right 0
					border-top 0
					display block
					height initial
					padding 0 0 1em 0
					position relative
					width 100%
				.footerSocial
					.contFooterSocial
						.mediosPago
							img
								width 150px
							.tituloPagos
								border none
								margin 0
						.mediosPago
						ul
							display inline-block !important
							vertical-align top
							width 49%
		header
			.header
				border-bottom 4px solid #F8B302
				height 120px
				.headerCOnt
					width 100%
					figure
						display block
						position initial
						width 100%
						a
							img
								width 130px
					.buscador
						margin-left -40%
						top 50px
						width 80%
						.buscadorForm
							border 2px solid #434142
							form
								button
									background-color #434142
		.accedeCuentaChica
			box-sizing border-box
			margin 0
			width 200%
			z-index 10
		.alert-warning
			box-sizing border-box
			width 100%
		.autenticacion
			.formularioCrea
				.creaCuenta
					.nombreApellido
						.nombre
						.apellido
							width 48%
		.box 
			.rodeaAddress
				form
					.addressNombreApellido
						.apellidoDireccion
						.nombreDireccion
							width 48%
					.esAliasDireccion 
					.esCelular
					.esRegion
					.esTelefono
					.infoAdicional
						width 100%
		.carrito 
			background-color #f8b302
			border-radius 0
			top 120px
			right 0
			width 50%
			.carritoIcon
				&:before
					width 100%
		.carrito
			.carritoHover
				.carritoDeCompra
					.cart_block
						.block_content
							.cart_block_list
								.products
									.first_item
									.last_item
									.item
										.remove_link
											a
												&:after
													font-size 18px
		
		.carrito > .ajax_cart_no_product
		.carrito > .ajax_cart_quantity
			width 50%
		.carritoAlert
			box-sizing border-box
			display none
			left 0
			margin-left 10%
			margin-top 25px !important
			padding 20px 10%
			width 80%
		.container
			width 100%
			.contCarrusel
				width 100%
				.carrusel
					width 100%
		.contCarrusel 
			.contCarruselInt
				.comentariosHome
					display none
		.formCarrito
			.orderAddress
				.addresses
					.contenedorAddresses
						.selccionDireccion
							.selector1
								.selector
									margin-bottom 10px
					.contenedorAddresses
					.quieresAgregaComentario 
						width 100%
		.micuenta
			.rodeaListaDirecciones
				.listaDirecciones
					width 100%
					ul
						li
							a
								span
									font-size 15px
				.listaregalo ul li a span
					font-size 15px
		.loginUsuario
			border-radius 0
			//display none
			left 0
			top 120px
			width 50%
			.contenedorLogin
				.despliega
					width 100%
		.navegador
			width 90%
		.popularesMasVendidos
			width 100%
		.productoPag
			.productoFoto
				.contenedorProductoFoto
					.carroDecripcion
						height initial
						position relative
						width 100%
						form
							.box-info-product
								box-sizing border-box
								padding 15px
								.box-cart-bottom
									margin 0
									div
										.agregaCarrito
											margin 0
											.exclusive
												width 100%
									.buttons_bottom_block
										a
											margin 0
											width 80%
											&:before
												display none
												width 30px
											span
												text-align center
												width 95%
								.box-cart-bottom
								.content_prices
									display inline-block
									margin -2px
									position relative
									top 0
									vertical-align top
									width 49%
								.content_prices
									.price
										.ivaInclude
											right 5%
										.precioActual
											margin 0
											width 100%
						.pay
							display none
					.contenedorImagenes
						text-align center
						width 100%
						.imagenGrande
							margin 0 auto
							width 300px
					.descripcion
						box-sizing border-box
						margin 0
						padding 20px
						width 100%
						.linksDescripcion
						.socialsharing_product
							display none
					.imagenGrande
						border 0
						margin 0
						width 100%
						.contenedorImagen
							margin 0 auto
							width 300px
				.muestraChica
					width 100%
					.rodeaMuestraChica 
						ul
							text-align center
	.adjuntos
		margin 0
		width 100%
	.añadeCarrituHome
		height 35px
		opacity 1
		width 35px
		a
			span
				&:before
					font-size 16px
					height 35px
					line-height 35px
					width 35px
	.contenedorPartners
		width 100%
	.contenedorProductoFoto
		position relative
	.infoAdicionalHeader
		.row
			width 100%
	.listaProducto
		.listaProductoLi
			width 23.5%
			.contenedorPopular
				.right-block
					.wishlist
						height 35px
						opacity 1
						width 35px
						a
							height 35px
							width 35px
							&:before
								font-size 16px
								line-height 35px
								height 35px
								width 35px
	.menuManias
		.menuTop
			//background-color #434142
			border 0
			//height 100%
			left 0
			//padding-top 0
			//position fixed
			//visibility hidden
			width 100%
			z-index 10
		.menuTop > li
			//background #434142
			border 0
			width 100%
			&:last-child
				a
					background-color #009960
					background-size contain
					background-repeat no-repeat
					width 100%
				&:hover
					a
						background-color #009960 !important
						opacity .8
		.menuTop > li > a
			background transparent
			color #879193
			&:before
				background none
	.sub-menuDesktop
		border none !important
		margin 0
		padding 0
		position relative
		li
			background #656465
			a
				color white
				font-family 'oswaldbold'
				font-size 15px
				padding-left 10px
				text-decoration none
			ul
				display none
				margin 0
				padding 0
				li
					background #A29EA2
					margin 0
					padding 0
					a
						font-family 'Open Sans', sans-serif
						font-size 13px
				
	.tabsInfo
		width 100%
		.tabs
			.navTabs
				ul
					li
						border-bottom none
						border-top 1px solid #aeadb3
						width 100%
						a 
							h3
								font-size 16px
					.tab-current
						border-left 0
						border-right 0
						a
							h3
								font-size 20px
			.content-wrap
				.content-current
					margin 0
					border-left 0
					border-right 0
	.Otroquick-view
	.quick-view
		display none
	#cd-menu-trigger
		height 40px
		top 40px
	#sslsSiteSeal
		width 100%
		
@media screen and (max-width: 670px)
	.table
		width 670px
		
@media screen and (max-width: 650px)
	body
		header
			.header
				.headerCOnt
					.buscador
						.buscadorForm
							form
								input
									height 25px
		.formCarrito
			.detalleProducto
				overflow-y scroll
				width 100%
		.contCarrusel
			.contCarruselInt
				height 0
	.contenedorHistoria
		overflow-y scroll
		width 100%
	.delivery_option_price
		line-height normal !important
	.order_carrier_content
		.checkbox
			a
				margin 5px auto
				width 100%
			label
				width 100%
	.paiement_block
		.table_block
			overflow-y scroll
			width 100%
	.products_block
		overflow-y scroll
		width 100%
		table
			width 650px
			tbody
				tr
					td
						.remove
							opacity 1
	.table_block
		overflow-y scroll
		width 100%
	.textoLink .row
	.textoLink .payment_module
		width 90%

@media screen and (max-width: 600px)
	body
		.productoPag
			.productoFoto
				.contenedorProductoFoto
					.carroDecripcion
						form
							.box-info-product
								.box-cart-bottom
									.buttons_bottom_block
										a
											span
												text-align right
	.bx-controls
		width 90%
	.candadito
		display none
	.contenedorPartners
		display none
	.infoAdicionalHeader
		.row
			text-align center
	.listaProducto
		.listaProductoLi
			width 48.5%
			.contenedorPopular
				.functional-buttons
					.compare
						a
							width 170px
	.navegador
		width 90%
		.checkout
		.volverCompra
			width 100px
			span
				font-size 14px

@media screen and (max-width: 460px)
	body
		.autenticacion 
			width 100%
			.contenedorLogin
				.accedeCuenta
				.creaCuenta
					height 280px
					width 60%
		.formCarrito
			.listaCompra
				li
					a
					span
						font-size 13px
				.step_current
					&:after
						border 0
					&:before
						border 0
		.fechaNacimiento
			.contenedorFecha
				width 100%
		.micuenta
			.rodeaListaDirecciones
				.listaDirecciones
				.listaregalo
					width 100%
		.productoPag
			.productoFoto
				.contenedorProductoFoto
					.carroDecripcion
						form
							.box-cart-bottom
								div
									.agregaCarrito
										button
											span
												font-size 13px
												
							.box-info-product
								.box-cart-bottom
									.buttons_bottom_block
										a
											width 100%

@media only screen and (min-width: 800px) 
	.contenedorMenu
		background #434142
		border-bottom 1px solid #999
		border-top 4px solid #f8b302
	.loginMenu
		display none !important
	.sub-menuDesktop
		border-bottom 6px solid #F8B302
		left 0 !important
		min-height 260px !important
		padding 20px 15% 10px 6% !important
		position absolute !important
		width 64% !important
	.sub-menuDesktop > li
		display inline-block 
		vertical-align top 
		width 200px
		ul
			margin 0
			padding 0
			li
				list-style none
				a
					color #5b5b5f
					font-size 12px
					font-style italic
					line-height 16px !important
					margin 0
					text-decoration none
					text-transform capitalize
	.sub-menuDesktop > li > a
		color #5b5b5f
		font-size 14px
		font-style italic
		font-weight 600
		margin-bottom 7px
		position relative
	
	#cd-top-nav 
		display block
	
	.cd-navigation
		margin 0 auto
		padding 0
		position relative
		width 100%
	
	.cd-navigation > li
		display inline-block
		height 30px
		vertical-align top
	
	.item-has-children > a
		&:after
			right .4em !important
	
	#cd-menu-trigger 
		display none
		padding-left 1.25em
		width 110px
	
	#cd-menu-trigger .cd-menu-text 
		display inline-block
		line-height 70px
	
	#cd-menu-trigger .cd-menu-icon 
		-moz-transform translateX(0)
		-ms-transform translateX(0)
		-o-transform translateX(0)
		-webkit-transform translateX(0)
		left auto
		right 1.25em
		transform translateX(0)
	
@media only screen and (max-width: 500px)
	body
		footer
			.row
				.footerSocial
					.contFooterSocial
						.mediosPago
							img
								width 100px
	.listaDireccion .contenedorListaDireccion
		width 100%